.App {
  background-color: #f7f7f7;
  display: flex;
  width: 100%;
  height: 25em;
}
.Users {
  /* border-style: solid; */
  width: 20%;
  height: 99%;
}
.Usernames {
  padding: 2px;
}

.Usernames:hover {
  background-color: rgba(0, 128, 128, 0.2);
}

.names {
  margin: 10px;
}

.Messages {
  background-color: #f7f7f7;
  border-style: solid;
  height: 80%;
  /* display: flex; */
  justify-content: flex-end;
  overflow: auto;
  align-items: flex-end; /* Aligns items at the bottom of the container */
}

.chats {
  /* background-color: red; */
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: flex-end; /* Align items to the right */
}

.message-container {
  margin-right: 1%;

  /* background: blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns the name and bubble to the right */
  margin-bottom: 10px; /* Space between messages */
  max-width: 40%; /* Maximum width of the container */
}

.name {
  /* margin-right: 1%; */
  font-weight: bold;
  margin-bottom: 2px; /* Space between name and message bubble */
  color: #555; /* You can adjust this color */
  text-align: right; /* Ensures the name is aligned with the bubble */
}

.Text {
  border-left: solid;
  border-bottom: solid;
  border-right: solid;
  padding: 1%;
}

.bubble {
  display: inline-block; /* Allows the bubble to shrink to fit its content */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #e8e8e8;
  color: black;
  border-radius: 20px;
  font-size: 16px;
  margin: 1%;
  text-align: left;
  max-width: 50%; /* Adjust this percentage as needed */
  white-space: normal; /* Allow text to wrap naturally */
  word-break: break-word; /* Break long words onto a new line if needed */
}
